<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/datepicker.css">
  <style>
  h1{
   margin-top: 20px;
   }
   .container, h1{
   text-align:center;
    }
    .table-wrapper
{
    border: 1px solid red;
    width: 700px;
    height: 150px;
    overflow: auto;
}

table
{
    border: 1px solid black;
    margin-right: 20px;
}
  </style>
</head>
<head>
    <meta charset="utf-8">
    <title>CakeZone - Cake Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Email</h6>
                        <span>nguyenducson502@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-primary border-inner py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>Cửa hàng bánh CakeCake</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Liên hệ</h6>
                        <span>+(84)966577314</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>CakeZone</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Trang chủ</a>
                <a href="about.html" class="nav-item nav-link">Thông tin</a>
                <a href="menu.html" class="nav-item nav-link">Thực đơn & Giá</a>
                <a href="team.html" class="nav-item nav-link">Master Chefs</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Trang liên hệ</a>
                    <div class="dropdown-menu m-0">
                        <a href="service.html" class="dropdown-item">Dịch vụ</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Liên hệ</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Dịch vụ</h1>
                <a href="">Trang chủ</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">Dịch vụ</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Bánh sinh nhật</h4>
                        <p>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo amet tempor amet kasd lorem dolor ipsum</p>
                        <a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Bánh cưới</h4>
                        <p>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo amet tempor amet kasd lorem dolor ipsum</p>
                        <a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Bánh đặt hàng</h4>
                        <p>Nhân dịp trung thu 2022, cửa hang CakeCake có rất nhiều các loại bánh cho các quý vị lựa chọn!/n Mời các bạn tham khảo! :)</p>
                        <a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 text-center">
                    <h3 class="text-uppercase text-light mb-4">Nhanh tay đặt hàng! Rất nhiều các phần quà hấp dẫn đang chờ các bạn!:D</h3>
                    <h2 class="text-uppercase text-light mb-4">[[${msg}]]</h2>
                   <button type="button" class="btn btn-primary" onClick="cleanData();" data-target="#modal" data-toggle="modal">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
    
   <div class="modal fade" id="modal" role="dialog"  aria-labelledby="modalLabel" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content"  style="height: 600px; width: 800px">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Đặt hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 600px; width: 700px">
           		<form action="#" th:action="@{/save-order}" th:object="${order}" method="post">
  			<table>
  			<tr>
  				<th>Số điện thoại</th>
				<td><input type="text" class="form-control" id="phone" th:field="*{phone}"></td>
				<th>Password</th>
				<td><input type="password" class="form-control" id="password" ></td>
				<td><button type="button" class="btn btn-primary" onclick="load();">Load</button> </td>
		  </tr>
		  <br><br>
			  <tr>
				<th>Tên bánh</th>
				<td>
					<select class="form-control" name="cakeId"> id="dropDownList">
					    <option value="0">Chọn bánh</option>
					    <option th:each="cake : ${listCake}" th:value="${cake.cakeId}" th:text="${cake.cakeName}"></option>
					</select>				
					</td>
				<th>Số lượng</th>
				<td><input type="text" class="form-control" id="number" th:field="*{number}"></td>
			  </tr>
			  <tr>
				<th>Tên khách hàng</th>
				<td><input type="text" class="form-control" id="customer" th:field="*{customer}"></td>
				<th>Email</th>
<!--				<td><input type="text" class="form-control" id="email" th:field="*{email}"></td>-->
			  </tr>
			  <tr>
				<th>Địa chỉ</th>
				<td><input type="text" class="form-control" id="address" th:field="*{address}"></td>
				<th>Ngày nhận</th>
				<td><input type="text" class="form-control" id="image" data-toggle="datepicker" th:field="*{dateShip}"></td>
				<td>
				</td>
			  </tr>
			 </table>
		    <menu>
		     <button type="submit" class="btn btn-primary">Thêm</button>
		    </menu>
	  </form>
	  	<div class="table-wrapper">
		  <table style="width:700px" id ="myTable" border="1">
		  </table>
		</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Start -->
    <div class="container-fluid bg-img text-secondary" style="margin-top: 90px">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 mb-lg-n5">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary border-inner p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>CakeZone</h1>
                        </a>
                        <p class="mt-3">Có rất nhiều không gian sáng tạo trong nhà, nhà là nơi tuyệt với để họ làm việc chăm chỉ</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Liên hệ</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">Hà Nội, Việt Nam</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">nguyenducson502@gmail.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+0966577314</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Truy cập nhanh</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                                <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Gửi thư</h4>
                            <p></p>
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-secondary py-4" style="background: #111111;">
        <div class="container text-center">
            <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">cakecake</a>. All Rights Reserved. 
			
			<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
			Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/main_2.js"></script>
</body>
<script type="text/javascript">
	
function load(){
  
var phone = document.getElementById("phone").value;  
var password = document.getElementById("password").value;  

	console.log(phone);

  
  $.ajax({
	url:'reloadOrderList',
	type:'GET',
	data : {"phone":phone,"password": password},
	contentType: "text/html; charset=UTF-8",
	success: function(response) {
		
		var jsonarray = JSON.parse(response);
		var rowlast= $('#myTable tr:last').index();
			for(var i=0; i< rowlast+1;i++){
				$('#myTable tr:first').remove();
			}	
			$("#myTable")
				.append("<tr> <th>Tên Bánh</th><th>So luong</th>"
				+"<th>Khach hang</th>"
				+"<th>Ngay ship</th>"
				+"<th>Địa chỉ</th>"
				+"<th>Trạng thái</th>"
			  +"</tr>");
			for(var i =0;i< jsonarray.length;i++){
				$("#myTable")
				.append ("<tr> <th style='width: 20%;'>"+jsonarray[i].cakeName+"</td>"
				+ "<td style='width: 10%;'>"+jsonarray[i].number+"</td>"
				+ "<td style='width: 20%;'>"+jsonarray[i].customer+"</td>"
				+ "<td style='width: 20%;'>"+jsonarray[i].dateShip+"</td>"
				+ "<td style='width: 20%;'>"+jsonarray[i].address+"</td>"
				+ "<td style='width: 10%;'>"+jsonarray[i].status+"</td>"
				);	
			}
		
	}
})

};

      $('[data-toggle="datepicker"]').datepicker({
        autoHide: true,
        zIndex: 2048,
      });

function cleanData(){
	document.getElementById('phone').value="";
	document.getElementById('password').value="";
		var rowlast= $('#myTable tr:last').index();
			for(var i=0; i< rowlast+1;i++){
				$('#myTable tr:first').remove();
			}	
			$("#myTable")
				.append("<tr> <th>Tên Bánh</th><th>So luong</th>"
				+"<th>Khach hang</th>"
				+"<th>Ngay ship</th>"
				+"<th>Địa chỉ</th>"
				+"<th>Trạng thái</th>"
			  +"</tr>");
}

function order(){
  var favDialog = document.getElementById('favDialog');
  clearContent();
  favDialog.showModal();
};

function clearContent(){
  lblMsg.innerHTML ="";

};
</script>
</html>